/* Create task popup
======================================*/
.taskPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createTask {
    position: relative;
    padding: 15px 30px;
    background-color: white;
    width: 35vw;
    min-width: 550px;
    height: 35vh;
    border-radius: 10px;
    z-index: 1;

    .close-btn {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}

.no-background {
    background: none;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    color: #000;
    width: 100%;
}

.no-background:focus {
    outline: none;
}

.date-component {
    position: absolute;
    top: 16px;
    left: calc(50% - 105px);
    transform: translateX(-50%);
}

.task-text {
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
}

.task-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    right: 16px;
    top: 16px;

    .no-background {
        width: 176px;
    }

    .weekday-picker {
        display: flex;
        flex-direction: row;
        height: 35px;
        align-items: center;
        width: 176px;
        justify-content: space-evenly;
    }

    .dropdown {
        .dropdown-toggle {
            width: 176px;
        }
    }
}


.bottom-btns {
    position: absolute;
    bottom: 16px;
    right: 16px;
    white-space: nowrap;
}

.cancel-btn {
    border: 1px solid grey;
}

.cancel-btn:hover {
    background-color: #b1b0b0;
}

.hide-btn {
    display: contents;
}