/* Header
  ============================================ */
.myheader {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eeeeee;
    width: 100%;
    padding-bottom: 10px;
    transition: all 0.3s;
    height: 105px;
    align-items: center;
    padding-top: 20px;

    h1 {
        text-align: left;
    }

    &.dark {
        border-bottom: 2px solid #494949;
    }

    &.glass {
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        color: white;
    }
}

.headerItem {
    padding: 0px 5%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-btns {
    cursor: pointer;
    font-size: 20px;
}