/* Sidebar
  ============================================ */
.sidebarButton {
    position: absolute;
    top: 1vh;
    right: 0.4vh;
    visibility: hidden;
    transition: all 0.3s;
}

.sidebarButton.hidden {
    right: -6vh;
}

.sidebarIcon {
    position: relative;
    font-size: 28px;
    color: grey;
    visibility: visible;
    z-index: 1;
}

.sidebarIcon.dark {
    color: #b1b0b0;
}

.darkmodeButton {
    position: absolute;
    top: 1vh;
    right: calc(0.4vh + 35px);
    visibility: hidden;
}

.darkmodeIcon {
    font-size: 28px !important;
    visibility: visible;
    color: grey;
    z-index: 1;
}

.darkmodeIcon.dark {
    color: #b1b0b0;
}

.sidebar {
    width: 18vw;
    height: 100vh;
    padding-top: 74px;
    position: absolute;
    background-color: #fcfaf8;
    left: 0;
    transition: all 0.3s;
}

.sidebar.hidden {
    left: -18vw;
}

.sidebar.dark {
    background-color: #494949;
    color: #eeeeee;
}

li {
    padding: 7px 12px;

    &:hover {
        cursor: pointer;
        background-color: #e6e5ff;
    }
}

.dark {
    li {
        padding: 7px 12px;

        &:hover {
            cursor: pointer;
            background-color: #676767;
        }
    }
}

.sidebar__projects {
    margin-top: 1vw;
    border-top: #676767 solid 2px;

    div {
        padding: 7px 12px;
        display: flex;
        justify-content: space-between;
    }
}

li.active {
    background-color: #e6e5ff;
    font-weight: bold;
}

.dark li.active {
    background-color: #676767;
}
